<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index1.css">
    <link rel="stylesheet" href="index2.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        </label>

        <label class="logo"><img src="/public/images/logo1.png" id="logo" ></label>
        <ul>
            <li><a href="work"  ><button class="works">How It Works</button></a></li>
            <li> <a href="contact"><button class="contact">Contact Us</button></a></li>
            <li><a href="admin_login"><button class="admin">Admin Login</button></a></li>
            <li><a href="voter_login" target="_blank"><button class="login">Login</button></a></li>
        </ul>
      </nav>
      
    <div class="main_container">
        <div class="content_box">
            <div class="homemain_heading_box">
                <h2 id="heading1">"Empowering every vote,</h2>
                <h2 id="heading2">Ensuring <span id="span_text">every voice"</span></h2>
            </div>
            <div class="homemain_paragraph_box">
                <p id="home_para"> “Your voices are being heard and you're proving to our ancestors that their struggles were not in vain. Now we have one more thing we need to do to walk in our true power, and that is to vote.When we vote, our values are put into action and our voices are heard. Your voice is a reminder that you matter because you do, and you deserve to be heard." </p>
            </div>
            <div class="startedbtn_box">
                <a href="voter_registration"><button class="startbtn">Get Started</button></a>
            </div>
        </div>
            <div class="homemain_img">
                 <img src="/public/images/background.jpg" class="homebg_img">
            </div>
    </div>
    
</body>
</html>
